@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Light mode colors */
		--background: 222 47% 15%;
		/* #1E293B, slate-900 */
		--foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--muted: 215 19% 35%;
		/* #9CA3AF, gray-400 */
		--muted-foreground: 215 20% 65%;
		/* #9CA3AF, gray-400 */
		--popover: 222 47% 19%;
		/* #334155, slate-800 */
		--popover-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--card: 222 47% 19%;
		/* #334155, slate-800 */
		--card-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--border: 215 19% 35%;
		/* #9CA3AF, gray-400 */
		--input: 215 19% 35%;
		/* #9CA3AF, gray-400 */
		--primary: 154 72% 41%;
		/* #10B981, emerald-500 */
		--primary-foreground: 222 47% 15%;
		/* #1E293B, slate-900 */
		--secondary: 222 47% 19%;
		/* #334155, slate-800 */
		--secondary-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--accent: 142 71% 45%;
		/* #10b981, teal-500 */
		--accent-foreground: 0 0% 100%;
		/* #1E293B, slate-900 */
		--destructive: 0 84% 58%;
		/* #EF4444, red-500 */
		--destructive-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--ring: 142 71% 45%;
		/* #10b981, teal-500 */
		--radius: 0.5rem;
		--sidebar-background: 222 47% 19%;
		/* #334155, slate-800 */
		--sidebar-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--sidebar-primary: 142 71% 45%;
		/* #10b981, teal-500 */
		--sidebar-primary-foreground: 222 47% 15%;
		/* #1E293B, slate-900 */
		--sidebar-accent: 154 72% 41%;
		/* #10B981, emerald-500 */
		--sidebar-accent-foreground: 222 47% 15%;
		/* #1E293B, slate-900 */
		--sidebar-border: 215 19% 35%;
		/* #9CA3AF, gray-400 */
		--sidebar-ring: 142 71% 45%;
		/* #10b981, teal-500 */

		--color-1: 154 72% 41%; /* emerald-500 */
		--color-2: 277 63% 60%; /* purple-500 */
		--color-3: 0 84% 58%; /* red-500 */
		--color-4: 156 65% 30%; /* emerald-700 */
		--color-5: 277 63% 49%; /* purple-700 */
	}

	.dark {
		/* Dark mode colors */
		--background: 222 47% 15%;
		/* #1E293B, slate-900 */
		--foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--muted: 215 19% 35%;
		/* #9CA3AF, gray-400 */
		--muted-foreground: 215 20% 65%;
		/* #9CA3AF, gray-400 */
		--popover: 222 47% 19%;
		/* #334155, slate-800 */
		--popover-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--card: 222 47% 19%;
		/* #334155, slate-800 */
		--card-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--border: 215 19% 35%;
		/* #9CA3AF, gray-400 */
		--input: 215 19% 35%;
		/* #9CA3AF, gray-400 */
		--primary: 154 72% 41%;
		/* #10B981, emerald-500 */
		--primary-foreground: 222 47% 15%;
		/* #1E293B, slate-900 */
		--secondary: 222 47% 19%;
		/* #334155, slate-800 */
		--secondary-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--accent: 142 71% 45%;
		/* #10b981, teal-500 */
		--accent-foreground: 0 0% 100%;
		/* #1E293B, slate-900 */
		--destructive: 0 84% 58%;
		/* #EF4444, red-500 */
		--destructive-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--ring: 142 71% 45%;
		/* #10b981, teal-500 */
		--radius: 0.5rem;
		--sidebar-background: 222 47% 19%;
		/* #334155, slate-800 */
		--sidebar-foreground: 48 14% 95%;
		/* #F3F4F6, gray-100 */
		--sidebar-primary: 142 71% 45%;
		/* #10b981, teal-500 */
		--sidebar-primary-foreground: 222 47% 15%;
		/* #1E293B, slate-900 */
		--sidebar-accent: 154 72% 41%;
		/* #10B981, emerald-500 */
		--sidebar-accent-foreground: 222 47% 15%;
		/* #1E293B, slate-900 */
		--sidebar-border: 215 19% 35%;
		/* #9CA3AF, gray-400 */
		--sidebar-ring: 142 71% 45%;
		/* #10b981, teal-500 */
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

.playwrite-dk-loopet-header {
	font-family: 'Playwrite DK Loopet', cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
